In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Id': [1,2,1,3,2,2,3],
    'Name': ['A','B','A','D','B','B','D'],
    'City': ['P','O','P','S','O','O','R'],
    'Year': [2013, 2023, 2013, 2025, 2023, 2023, 2017]
}

df = pd.DataFrame(data)
print(df)

   Id Name City  Year
0   1    A    P  2013
1   2    B    O  2023
2   1    A    P  2013
3   3    D    S  2025
4   2    B    O  2023
5   2    B    O  2023
6   3    D    R  2017

In [3]:
# Find Duplicate rows in the DataFrame
# Returns True for duplicated rows and False otherwise.

print(df.duplicated())

0    False
1    False
2     True
3    False
4     True
5     True
6    False
dtype: bool

In [4]:
# Remove the duplicated rows

print(df.drop_duplicates())
# Returns DF with unique records only

   Id Name City  Year
0   1    A    P  2013
1   2    B    O  2023
3   3    D    S  2025
6   3    D    R  2017

In [5]:
# 1. Replacing the wrong data with some other value from the column.

data = {
    'Name': ['A','B','A','D','B','B','D'],
    'Duration': [30, 60, 45, 60, 30, 180, 30],
    'City': ['P','O','P','S','O','O','R'],
    'Year': [2013, 2023, 2013, 2025, 2023, 2023, 2017]
}
df = pd.DataFrame(data)
# In Duration, values are : 30, 45 OR 60, but 180 not lies in that.

# Replace 180 with other value
df.loc[5, 'Duration'] = 45

print(df)

  Name  Duration City  Year
0    A        30    P  2013
1    B        60    O  2023
2    A        45    P  2013
3    D        60    S  2025
4    B        30    O  2023
5    B        45    O  2023
6    D        30    R  2017

In [6]:
# 2. Removing Rows
# So, no need to find what to replace with the wrong data.
# But, have to sure that, the wrong data must be very less.

data = {
    'Name': ['A','B','A','D','B','B','D'],
    'Duration': [30, 60, 45, 60, 30, 180, 30],
    'City': ['P','O','P','S','O','O','R'],
    'Year': [2013, 2023, 2013, 2025, 2023, 2023, 2017]
}
df = pd.DataFrame(data)

# Remove rows with Duration >60
for i in df.index:
    if df.loc[i, 'Duration'] > 60:
        df.drop(i, inplace=True)

print(df)

  Name  Duration City  Year
0    A        30    P  2013
1    B        60    O  2023
2    A        45    P  2013
3    D        60    S  2025
4    B        30    O  2023
6    D        30    R  2017

In [7]:
# 1. Convert to correct format

data = {
    'Name': ['A','B','A','D','B','B','D'],
    'Duration': [30, 60, 45, 60, 30, 180, 30],
    'City': ['P','O','P','S','O','O','R'],
    'Year': [2013, 2023, 2013, 2025, 2023, 2023, 2017],
    'Date': ['2020/12/01', '2020/12/02', '2020/12/03', '2020/12/04',
             '2020/12/05', np.nan, '2020/12/07']
}

# Data column contains 1 NULL value, which does not match with date format
df = pd.DataFrame(data)

print(df)

  Name  Duration City  Year        Date
0    A        30    P  2013  2020/12/01
1    B        60    O  2023  2020/12/02
2    A        45    P  2013  2020/12/03
3    D        60    S  2025  2020/12/04
4    B        30    O  2023  2020/12/05
5    B       180    O  2023         NaN
6    D        30    R  2017  2020/12/07

In [8]:
# 1. Convert to same format

# Pandas has a to_datetime() method, 
# to convert all cells in the 'Date' column into dates.
# So, all values from other format, converted to DateTime.

df['Date'] = pd.to_datetime(df['Date'])
print(df)
# Here, NaT = Not a Date, for null values

  Name  Duration City  Year       Date
0    A        30    P  2013 2020-12-01
1    B        60    O  2023 2020-12-02
2    A        45    P  2013 2020-12-03
3    D        60    S  2025 2020-12-04
4    B        30    O  2023 2020-12-05
5    B       180    O  2023        NaT
6    D        30    R  2017 2020-12-07

In [9]:
# 2. Remove rows with null values

df.dropna(subset=['Date'], inplace=True)

print(df)
# Thus, removes records with NULL values.

  Name  Duration City  Year       Date
0    A        30    P  2013 2020-12-01
1    B        60    O  2023 2020-12-02
2    A        45    P  2013 2020-12-03
3    D        60    S  2025 2020-12-04
4    B        30    O  2023 2020-12-05
6    D        30    R  2017 2020-12-07

In [10]:
# 1. Remove Rows
# Removing some rows in very large dataset, does not affect much

data = {
    'Name': ['A','B','A','D','B','B','D','G','H'],
    'Duration': [30, 60, 45, 60, 30, 45, 30, 45, 60],
    'City': ['P','O','P','S',np.nan,'O','R','S','R'],
    'Year': [2013, np.nan, 2013, 2025, 2023, 2023, 2017, 2013, 2018]
}

df = pd.DataFrame(data)

# Just remove the rows with null cell
df.dropna(inplace=True)

print(df)

  Name  Duration City    Year
0    A        30    P  2013.0
2    A        45    P  2013.0
3    D        60    S  2025.0
5    B        45    O  2023.0
6    D        30    R  2017.0
7    G        45    S  2013.0
8    H        60    R  2018.0

In [11]:
# 2. Replace Empty Values
# Fill another value in the place of empty cells
data = {
    'Name': ['A','B','A','D','B','B','D','G','H'],
    'Duration': [30, 60, 45, 60, 30, 45, 30, 45, 60],
    'City': ['P','O','P','S',np.nan,'O','R','S','R'],
    'Year': [2013, np.nan, 2013, 2025, 2023, 2023, 2017, 2013, 2018]
}

df = pd.DataFrame(data)

# Can fill different values for each columns of the DF
df['City'].fillna('T', inplace=True)
df['Year'].fillna(2018, inplace=True)

print(df)

  Name  Duration City    Year
0    A        30    P  2013.0
1    B        60    O  2018.0
2    A        45    P  2013.0
3    D        60    S  2025.0
4    B        30    T  2023.0
5    B        45    O  2023.0
6    D        30    R  2017.0
7    G        45    S  2013.0
8    H        60    R  2018.0

C:\Users\Home\AppData\Local\Temp\ipykernel_3456\2109988589.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('T', inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_3456\2109988589.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna(2018, inplace=True)

In [12]:
# 3. Replace Using Mean, Median, or Mode

data = {
    'Name': ['A','B','A','D','B','B','D','G','H'],
    'Age': [23, 25, 20, 19, 24, 27, np.nan, 30, 29],
    'Duration': [30, 60, 45, 60, 30, 45, 30, 45, 60],
    'City': ['P','O','P','S',np.nan,'O','R','S','R'],
    'Year': [2013, np.nan, 2013, 2025, 2023, 2023, 2017, 2013, 2018]
}
df = pd.DataFrame(data)

# Replace null in Age with Mean of the Age column
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Replace null in City with Mode of the City column
df['City'].fillna(df['City'].mode(), inplace=True)

# Replace null in Year with Median of the Year column
df['Year'].fillna(df['Year'].median(), inplace=True)

print(df)

  Name     Age  Duration City    Year
0    A  23.000        30    P  2013.0
1    B  25.000        60    O  2017.5
2    A  20.000        45    P  2013.0
3    D  19.000        60    S  2025.0
4    B  24.000        30  NaN  2023.0
5    B  27.000        45    O  2023.0
6    D  24.625        30    R  2017.0
7    G  30.000        45    S  2013.0
8    H  29.000        60    R  2018.0

C:\Users\Home\AppData\Local\Temp\ipykernel_3456\1200579990.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_3456\1200579990.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode(), inplace=True)
C:\Users\Home\AppData\Local\Temp\ipykernel_3456\1200579990.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna(df['Year'].median(), inplace=True)

In [13]:
data = {
    'Id': [1,2,3,4,5,6,7],
    'Name': ['A','B','C','D','E','F','G'],
    'City': ['P','O',np.nan,'Q','R','H',np.nan],
    'Year': [2013, 2023, np.nan, np.nan, 2018, 2014, 2017]
}

df = pd.DataFrame(data)

print(df.isna().sum())  # --> Return how many null present in each column

Id      0
Name    0
City    2
Year    2
dtype: int64

In [14]:
# Drop all rows with null
# axis=0 : Drop rows having any null value
# axis=1 : Drop cols having any null value

# how='any': Drop evan for only one null as well
# how='all': Drop only if all values are null
print(df.dropna(axis=0, how='all'))

   Id Name City    Year
0   1    A    P  2013.0
1   2    B    O  2023.0
2   3    C  NaN     NaN
3   4    D    Q     NaN
4   5    E    R  2018.0
5   6    F    H  2014.0
6   7    G  NaN  2017.0

In [15]:
print(df.dropna(axis=0,thresh=3))
# thresh=int : Determine how many nou-null values must be present, otherwise drop.
# thresh=3: So, drop rows with less than 3 non-null values.

   Id Name City    Year
0   1    A    P  2013.0
1   2    B    O  2023.0
3   4    D    Q     NaN
4   5    E    R  2018.0
5   6    F    H  2014.0
6   7    G  NaN  2017.0

In [16]:
# Original DataFrame
print(df)
# So, can see that changes are not permanent to original DF

   Id Name City    Year
0   1    A    P  2013.0
1   2    B    O  2023.0
2   3    C  NaN     NaN
3   4    D    Q     NaN
4   5    E    R  2018.0
5   6    F    H  2014.0
6   7    G  NaN  2017.0

In [17]:
# inplace=True : Make changes permanent to the original DF
df.dropna(axis=0,inplace=True)
print(df)

   Id Name City    Year
0   1    A    P  2013.0
1   2    B    O  2023.0
4   5    E    R  2018.0
5   6    F    H  2014.0

In [18]:
data = {
    'Id': [1,2,3,4,5,6,7],
    'Name': ['A','B','C','D','E','F','G'],
    'City': ['P','O',np.nan,'Q','R','H',np.nan],
    'Year': [2013, 2023, np.nan, np.nan, 2018, 2014, 2017]
}

df = pd.DataFrame(data)
df['City'].fillna('New_city', inplace=True)
# inplace=True : Makes changes permanent to the original df

print(df)

   Id Name      City    Year
0   1    A         P  2013.0
1   2    B         O  2023.0
2   3    C  New_city     NaN
3   4    D         Q     NaN
4   5    E         R  2018.0
5   6    F         H  2014.0
6   7    G  New_city  2017.0

C:\Users\Home\AppData\Local\Temp\ipykernel_3456\1036008275.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna('New_city', inplace=True)

In [19]:
data = {
    'Id': [1,2,1,3,2,2,3],
    'Name': ['A','B','A','D','B','B','D'],
    'City': ['P','O','P','S','O','O','R'],
    'Year': [2013, 2023, 2013, 2025, 2023, 2023, 2017]
}

df = pd.DataFrame(data)
print(df)
# DF contains many duplicate entries

   Id Name City  Year
0   1    A    P  2013
1   2    B    O  2023
2   1    A    P  2013
3   3    D    S  2025
4   2    B    O  2023
5   2    B    O  2023
6   3    D    R  2017

In [20]:
# Subset : Take list of columns, from which to consider duplicates
print(df.drop_duplicates(subset=['Id']))
# print(df.drop_duplicates())
# Returns unique rows only.

   Id Name City  Year
0   1    A    P  2013
1   2    B    O  2023
3   3    D    S  2025

In [21]:
print(df.drop_duplicates(keep=False))

   Id Name City  Year
3   3    D    S  2025
6   3    D    R  2017

In [22]:
data = {
    'Name': ['A','B','C','D','E','F'],
    'Marks': [56,78,90,34,62,78],
    'City': ['P','O','P','S','O','O']
}

df = pd.DataFrame(data)

def give(num):
    if num>60:
        return 'Pass'
    else:
        return 'Fail'

print(df['Marks'].apply(give, convert_dtype=True))

0    Fail
1    Pass
2    Pass
3    Fail
4    Pass
5    Pass
Name: Marks, dtype: object

C:\Users\Home\AppData\Local\Temp\ipykernel_3456\2491282294.py:15: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  print(df['Marks'].apply(give, convert_dtype=True))

In [23]:
s1 = pd.Series([0,1,2,3,4,5])
s2 = pd.Series([21,24,26,32,34,31])

print(s1.map(s2))

0    21
1    24
2    26
3    32
4    34
5    31
dtype: int64

In [24]:
data = {
    'Name': ['Abc','Bob','Cat','Dog','Ele','Fog'],
    'Marks': [56,78,90,34,62,78],
    'City': ['Pa','OpD','PsT','SpY','On','Om']
}

df = pd.DataFrame(data)

print(df)

  Name  Marks City
0  Abc     56   Pa
1  Bob     78  OpD
2  Cat     90  PsT
3  Dog     34  SpY
4  Ele     62   On
5  Fog     78   Om

In [25]:
# 1. str.lower() - Convert the string to lowercase chars
df['Name'] = df['Name'].str.lower()
print(df)

  Name  Marks City
0  abc     56   Pa
1  bob     78  OpD
2  cat     90  PsT
3  dog     34  SpY
4  ele     62   On
5  fog     78   Om

In [26]:
# 2. str.upper() - Convert the string to uppercase chars
df['City'] = df['City'].str.upper()
print(df)

  Name  Marks City
0  abc     56   PA
1  bob     78  OPD
2  cat     90  PST
3  dog     34  SPY
4  ele     62   ON
5  fog     78   OM

> **Regular expressions for pattern matching:**

In [27]:
import re

data = {
    'Name': ['Abc','Bob','Cat','Dog','Ele','Fog'],
    'Marks': [56,78,90,34,62,78],
    'City': ['Pa','OpD','PsT','SpY','On','Om']
}

df = pd.DataFrame(data)

pattern = '[O].*'

print(df[df.City.str.match(pattern)])

  Name  Marks City
1  Bob     78  OpD
4  Ele     62   On
5  Fog     78   Om