In [1]:
#python my sql

import mysql.connector

In [34]:
mydb = mysql.connector.connect(host='localhost', user='root',passwd='7326',database='gaurav')

print(mydb)

mycursor=mydb.cursor()


mycursor.execute("show databases")
for i in mycursor:
    print(i)

<mysql.connector.connection.MySQLConnection object at 0x000001D06820E990>
('gaurav',)
('information_schema',)
('mysql',)
('performance_schema',)
('py_db',)
('python',)
('sakila',)
('sys',)
('world',)

In [35]:
mycursor=mydb.cursor()

mycursor.execute("select * from student")

result = mycursor.fetchall()

for i in result:
    print(i)

('gaurav', 'ssc')
('Tilak', 'ssc')
('gaurav', 'ssc')
('Tilak', 'ssc')

In [36]:
mycursor=mydb.cursor()

mycursor.execute("select * from student")

result = mycursor.fetchone()

for i in result:
    print(i)

gaurav
ssc

In [49]:
mydb = mysql.connector.connect(host='localhost', user='root',passwd='7326')

mycursor1 = mydb.cursor()

#mycursor1.execute("CREATE DATABASE gauruv")


mycursor1.execute("SHOW DATABASES")

for i in mycursor1:
    print(i)

('gaurav',)
('gauruv',)
('information_schema',)
('mysql',)
('performance_schema',)
('py_db',)
('python',)
('sakila',)
('sys',)
('world',)

In [56]:

mycursor1.execute('use gauruv')

#mycursor1.execute("create table t1( college id PRIMARY KEY varchar(5), name varchar(20))")
mycursor1.execute("CREATE TABLE emp(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(20), addr VARCHAR(20))")