In [ ]:
#Dictionaries
#mutable data type

sub = ('OS', 'DB', 'DSA')
d = {'name':'Snehal', 'age':22, 'address':'sarud', 'marks':[99,100], 'subjects':sub}
print(d)

{'name': 'Snehal', 'age': 22, 'address': 'sarud', 'marks': [99, 100], 'subjects': ('OS', 'DB', 'DSA')}

In [ ]:
#dict method - list to dictionary

t = [{1,'Gaurav'}, (2,'Tilak'), (3,'Chanchal'), (4,'Rona')]
d1 = dict(t)
print(d1)

{1: 'Gaurav', 2: 'Tilak', 3: 'Chanchal', 4: 'Rona'}

In [ ]:
#value can be anything but the key would need to be an immutable
t = (1,2)
d = {[1]:23, t:34}
print(d)

TypeError: unhashable type: 'list'

In [ ]:
#to access to values off a dict, you ask for the calue using the key

d = {'name':'Gaurav', 'age':20, 'addr':['Ben', 'Dover']}
print(d['addr'])

['Ben', 'Dover']

In [ ]:
#other ways to access dict contents

d = {'name':'Gaurav', 'age':20, 'addr':['Ben', 'Dover']}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('name', 'Gaurav'), ('age', 20), ('addr', ['Ben', 'Dover'])])
dict_keys(['name', 'age', 'addr'])
dict_values(['Gaurav', 20, ['Ben', 'Dover']])

In [ ]:
#looping through a dictionary

d = {'name':'Gaurav', 'age':20, 'addr':['Ben', 'Dover']}

for i in d.keys():
  print(i,",",d[i])

name , Gaurav
age , 20
addr , ['Ben', 'Dover']

In [6]:
d = {'name': 'G', 'age': 21, 'addr': 'Del'}
print(d)

d.pop('name')
print(d)

del d['age']
print(d)

d.clear()
print(d)

{'name': 'G', 'age': 21, 'addr': 'Del'}
{'age': 21, 'addr': 'Del'}
{'addr': 'Del'}
{}

In [12]:
d = {'name': 'G', 'age': 21, 'addr': 'Del'}

for i in sorted(d.keys()):
    print(i, d[i])

print(sorted(d.keys()))

addr Del
age 21
name G
['addr', 'age', 'name']

In [ ]:
d = {'name': 'Sne', 'age': '21', 'addr': 'Kop'}

keys = d.keys()
values = d.values()

n = dict(zip(values, keys))
o = dict(sorted(n.items()))

print(o)

#The zip() function in Python is used to combine multiple iterables into a single iterable of tuples
r = dict(zip(o.values(), o.keys()))
print(r)

In [13]:
d = dict.fromkeys(['name', 'age', 'addr'], 'Snehal')

print(d)

{'name': 'Snehal', 'age': 'Snehal', 'addr': 'Snehal'}

In [14]:
# Simple Dictionary
d = {}
d['name'] = 'Gaarav'
d['age'] = [20]
d['addr'] = ('Del')
d['data'] = True
print(d)

d['name'] = 'Man'
print(d)

del d['name']
print(d)

d['name'] = 'Man'
print(d)

{'name': 'Gaarav', 'age': [20], 'addr': 'Del', 'data': True}
{'name': 'Man', 'age': [20], 'addr': 'Del', 'data': True}
{'age': [20], 'addr': 'Del', 'data': True}
{'age': [20], 'addr': 'Del', 'data': True, 'name': 'Man'}