In [ ]:
#Exception handling

#type error

x = input("enter x ")
y= int(input("enter y"))

try:
  z = x+y
  print(z)
except TypeError:
  print("Cannot add integer and string")

enter x x]
enter y1
Cannot add integer and string

In [ ]:
#index error - runtime error

a = [1, 2, 3]
try:
	print ("Second element = %d" %(a[1]))

	# Throws error since there are only 3 elements in array
	print ("Fourth element = %d" %(a[3]))

except:
	print ("An error occurred")

Second element = 2
An error occurred
End of exception..

In [ ]:
def func(n):
  try:
      a = 4/n
      print(a)
      print(d)
  except ZeroDivisionError:
      print("Division by zero not defined")
  except NameError:
      print('Name not defined in the scope')
  finally:
      print("Operation completed")
func(0)
func(2)

Division by zero not defined
Operation completed
2.0
Name not defined in the scope
Operation completed

In [ ]:
def func(name):
    try:
        if name == 'Gaurav':
            print('Hello,',name)
        else:
            raise NameError(name)
    except NameError:

        print('Access Denied:', name)


func('Gaurav')
func('Tilak')

Hello, Gaurav
Access Denied: Tilak

In [ ]:
#You can also have user defined errors according to the code

In [ ]:
#syntax error

SyntaxError: invalid syntax (<ipython-input-28-25dbed951f44>, line 2)